<header @onclick="() => toggle()">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./">中二病也要寫程式</a>
            @*<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
            </button>*@
        </div>
    </div>
</header>

<nav>
    <MudNavMenu Class="navlist" Style="color: #fff; overflow-y:auto;  height: 95%;">
        <MudNavGroup Title="Go" Expanded="true" Icon="@Icons.Filled.Storage">
            <MudNavLink OnClick='() => toggle("./goenv")'>開發環境建置</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gomod")'>go mod 介紹</MudNavLink>
            <MudNavLink OnClick='() => toggle("./go1")'>通道 Channel</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gostruct")'>Struct</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gocsrf")'>CSRF - Cross-Site Request Forgery（跨站請求偽造）</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gosyncme")'>同步 MySql ElasticSearch</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gogin")'>[Gin]</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gorouter")'>[Gin] Router</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gogorm")'>[Gin] GORM</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="C#" Expanded="true" Icon="@Icons.Filled.Storage">
            <MudNavLink OnClick='() => toggle("./csharp1")'>C#基礎 - new vs overrvide</MudNavLink>
            <MudNavLink OnClick='() => toggle("./csharp2")'>ASP.NET Core Web API 訊息處理器</MudNavLink>
            <MudNavLink OnClick='() => toggle("./csharp3")'>多國語系</MudNavLink>
            <MudNavGroup Title="Blazor" Expanded="true" Icon="@Icons.Filled.Storage">
                <MudNavLink OnClick='() => toggle("./blazor1")'>StateHasChanged</MudNavLink>
                <MudNavLink OnClick='() => toggle("./blazor2")'>Service Lifetime</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="JavaScript" Expanded="true" Icon="@Icons.Filled.Storage">
            <MudNavLink OnClick='() => toggle("./javascript1")'>Promise 簡介</MudNavLink>
            <MudNavLink OnClick='() => toggle("./javascript2")'>使用 Promise 達到同步等待js資源載入</MudNavLink>
            <MudNavLink OnClick='() => toggle("./javascript3")'>傳統函式 VS 箭頭函式</MudNavLink>
            <MudNavLink OnClick='() => toggle("./javascript4")'>Cookie、LocalStorage、SessionStorage 差異</MudNavLink>
            <MudNavLink OnClick='() => toggle("./javascriptIframe")'>iframe子頁面跨域向父頁面傳遞消息</MudNavLink>
            <MudNavLink OnClick='() => toggle("./javascriptGA")'>Google Analytics (GA4) 分析追蹤網站</MudNavLink>
            <MudNavLink OnClick='() => toggle("./javascriptHistoryBack")'>阻止行動裝置觸發返回事件</MudNavLink>
            <MudNavGroup Title="Typescript" Expanded="false" Icon="@Icons.Filled.Storage">
                <MudNavLink OnClick='() => toggle("./tswebpack")'>Webpack 環境建構</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Vue" Expanded="false" Icon="@Icons.Filled.Storage">
                <MudNavLink OnClick='() => toggle("./vue1")'>Vue 生命週期</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vuerender")'>Vue2 響應式原理</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vueemit")'>Props in Emit out</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vuevuex")'>Vuex</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vuefilter")'>Filter</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vuecomponentstr")'>字串中使用 Component</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vuegzip")'>gzip 壓縮檔案</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vueaxios")'>[pkg] Axios</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vueswiper")'>[pkg] Swiper</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vuevideo")'>[pkg] Video.js</MudNavLink>
                <MudNavLink OnClick='() => toggle("./vueloadsh")'>[pkg] Loadsh</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Nuxt" Expanded="false" Icon="@Icons.Filled.Storage">
                <MudNavLink OnClick='() => toggle("./nuxt1")'>Nuxt 生命週期</MudNavLink>
                <MudNavLink OnClick='() => toggle("./nuxt2")'>Nuxt 使用 axios、proxy 解決跨域請求 (CORS)</MudNavLink>
                <MudNavLink OnClick='() => toggle("./nuxt2build")'>Nuxt2打包部署到線上</MudNavLink>
                <MudNavLink OnClick='() => toggle("./nuxt3env")'>Nuxt3 + TypeScript + ESLint + Prettier 環境建置</MudNavLink>
                <MudNavLink OnClick='() => toggle("./nuxt3tailwindcss")'>Nuxt3 use TailwindCss</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="Css" Expanded="true" Icon="@Icons.Filled.Storage">
            <MudNavLink OnClick='() => toggle("./css1")'>EM 與 REM 的差異</MudNavLink>
            <MudNavLink OnClick='() => toggle("./css2")'>VH、VW、VMIN、VMAX</MudNavLink>
            <MudNavLink OnClick='() => toggle("./css3")'>Display Flex</MudNavLink>
            <MudNavLink OnClick='() => toggle("./cssboxsize")'>Box-sizing</MudNavLink>
            <MudNavLink OnClick='() => toggle("./cssRatio")'>實現固定寬高比</MudNavLink>
            <MudNavLink OnClick='() => toggle("./cssanim")'>[pkg] Animate.css</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Dart" Expanded="true" Icon="@Icons.Filled.Storage">
            <MudNavLink OnClick='() => toggle("./dart1")'>Dart基礎 - 初入 Dart</MudNavLink>
            <MudNavLink OnClick='() => toggle("./dart2")'>Dart基礎 - 建構式</MudNavLink>
            <MudNavLink OnClick='() => toggle("./dart3")'>Dart基礎 - @@immutable</MudNavLink>
            <MudNavGroup Title="Flutter" Expanded="false" Icon="@Icons.Filled.Storage">
                <MudNavLink OnClick='() => toggle("./flutterenv")'>環境建置</MudNavLink>
                <MudNavLink OnClick='() => toggle("./flutter1")'>編譯錯誤 : missing an input or output annotation</MudNavLink>
                <MudNavLink OnClick='() => toggle("./flutter2")'>什麼是 Bloc Design Pattern</MudNavLink>
                <MudNavLink OnClick='() => toggle("./flutter3")'>MaterialApp</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="Web Deploy" Expanded="true" Icon="@Icons.Filled.Storage">
            <MudNavLink OnClick='() => toggle("./githubpage")'>Blazor WebAssembly 使用 Github Pages 進行部屬</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gcpvm")'>Google Cloud Platform 創建虛擬主機 (VM) 來架設網站</MudNavLink>
            <MudNavLink OnClick='() => toggle("./gcpdocker")'>使用 Docker 建立 MySQL</MudNavLink>
            <MudNavLink OnClick='() => toggle("./reactsnap")'>SEO 優化 - SPA react-snap 預渲染</MudNavLink>
            <MudNavLink OnClick='() => toggle("./h5seo")'>SEO 優化 - HTM5 語意標籤（Semantic Elements)</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</nav>

@*@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@

@code {
    public async void toggle(string url = "")
    {
        if (!String.IsNullOrEmpty(url))
        {
            Nav.NavigateTo(url);
        }

        await JSRT.InvokeVoidAsync("navToggle");
    }
}
